<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!--    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>filter.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerServicesListServlet</servlet-name>
        <servlet-class>controller.ManagerServicesListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProvincesServlet</servlet-name>
        <servlet-class>controller.EditProvincesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAddressServlet</servlet-name>
        <servlet-class>controller.ManagerAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerDeleteServiceServlet</servlet-name>
        <servlet-class>controller.ManagerDeleteServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerEditServiceServlet</servlet-name>
        <servlet-class>controller.ManagerEditServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAddServiceServlet</servlet-name>
        <servlet-class>controller.ManagerAddServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProvincesServlet</servlet-name>
        <servlet-class>controller.AddProvincesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProvincesServlet</servlet-name>
        <servlet-class>controller.DeleteProvincesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDistrictServlet</servlet-name>
        <servlet-class>controller.AddDistrictServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDistrictServlet</servlet-name>
        <servlet-class>controller.ManageDistrictServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDistrictsServlet</servlet-name>
        <servlet-class>controller.EditDistrictsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDistrictsServlet</servlet-name>
        <servlet-class>controller.DeleteDistrictsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerSearchServiceServlet</servlet-name>
        <servlet-class>controller.ManagerSearchServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMedicineServlet</servlet-name>
        <servlet-class>controller.AddMedicineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicineListServlet</servlet-name>
        <servlet-class>controller.MedicineListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMedicineServlet</servlet-name>
        <servlet-class>controller.EditMedicineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMedicineServlet</servlet-name>
        <servlet-class>controller.DeleteMedicineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicineDetail</servlet-name>
        <servlet-class>controller.MedicineDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageServicesListServlet</servlet-name>
        <servlet-class>controller.HomepageServicesListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserServlet</servlet-name>
        <servlet-class>controller.ManageUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffServicesListServlet</servlet-name>
        <servlet-class>controller.StaffServicesListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffViewServiceServlet</servlet-name>
        <servlet-class>controller.StaffViewServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUsersListServlet</servlet-name>
        <servlet-class>controller.AdminUsersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddRoleServlet</servlet-name>
        <servlet-class>controller.AdminAddRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRemoveRoleServlet</servlet-name>
        <servlet-class>controller.AdminRemoveRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchUserServlet</servlet-name>
        <servlet-class>controller.AdminSearchUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteUserServlet</servlet-name>
        <servlet-class>controller.AdminDeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditUserServlet</servlet-name>
        <servlet-class>controller.AdminEditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LatestMedicineServlet</servlet-name>
        <servlet-class>controller.LatestMedicineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSearchServiceServlet</servlet-name>
        <servlet-class>controller.StaffSearchServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>controller.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDistrictsServlet</servlet-name>
        <servlet-class>controller.LoadDistrictsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadWardsServlet</servlet-name>
        <servlet-class>controller.LoadWardsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFeedbackStatusServlet</servlet-name>
        <servlet-class>controller.UpdateFeedbackStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>controller.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackListServlet</servlet-name>
        <servlet-class>controller.FeedbackListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedbackServlet</servlet-name>
        <servlet-class>controller.AddFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFeedbackServlet</servlet-name>
        <servlet-class>controller.SearchFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageWardServlet</servlet-name>
        <servlet-class>controller.ManageWardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerViewServiceServlet</servlet-name>
        <servlet-class>controller.ManagerViewServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailsUserServlet</servlet-name>
        <servlet-class>controller.ViewDetailsUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerServicesListServlet</servlet-name>
        <url-pattern>/manager/serviceslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProvincesServlet</servlet-name>
        <url-pattern>/editprovinces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAddressServlet</servlet-name>
        <url-pattern>/manageraddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerDeleteServiceServlet</servlet-name>
        <url-pattern>/manager/deleteservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerEditServiceServlet</servlet-name>
        <url-pattern>/manager/editservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAddServiceServlet</servlet-name>
        <url-pattern>/manager/addservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProvincesServlet</servlet-name>
        <url-pattern>/addprovinces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProvincesServlet</servlet-name>
        <url-pattern>/deleteprovinces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDistrictServlet</servlet-name>
        <url-pattern>/managedistrict</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDistrictServlet</servlet-name>
        <url-pattern>/adddistrict</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDistrictsServlet</servlet-name>
        <url-pattern>/editdistricts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDistrictsServlet</servlet-name>
        <url-pattern>/deletedistricts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerSearchServiceServlet</servlet-name>
        <url-pattern>/manager/searchservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMedicineServlet</servlet-name>
        <url-pattern>/addmedicine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicineListServlet</servlet-name>
        <url-pattern>/medicinelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicineDetail</servlet-name>
        <url-pattern>/medicinedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMedicineServlet</servlet-name>
        <url-pattern>/medicineupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMedicineServlet</servlet-name>
        <url-pattern>/deletemedicine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageServicesListServlet</servlet-name>
        <url-pattern>/homepageserviceslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUsersListServlet</servlet-name>
        <url-pattern>/admin/adminuserslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddRoleServlet</servlet-name>
        <url-pattern>/admin/addrole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRemoveRoleServlet</servlet-name>
        <url-pattern>/admin/removerole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchUserServlet</servlet-name>
        <url-pattern>/admin/adminsearchuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteUserServlet</servlet-name>
        <url-pattern>/admin/admindeleteuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditUserServlet</servlet-name>
        <url-pattern>/admin/adminedituser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserServlet</servlet-name>
        <url-pattern>/manageuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffServicesListServlet</servlet-name>
        <url-pattern>/staff/serviceslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffViewServiceServlet</servlet-name>
        <url-pattern>/staff/viewservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LatestMedicineServlet</servlet-name>
        <url-pattern>/latestmedicine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSearchServiceServlet</servlet-name>
        <url-pattern>/staff/searchservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDistrictsServlet</servlet-name>
        <url-pattern>/loadDistricts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadWardsServlet</servlet-name>
        <url-pattern>/loadWards</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageWardServlet</servlet-name>
        <url-pattern>/manageward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackListServlet</servlet-name>
        <url-pattern>/feedbacklist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedbackServlet</servlet-name>
        <url-pattern>/addfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFeedbackServlet</servlet-name>
        <url-pattern>/searchfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFeedbackStatusServlet</servlet-name>
        <url-pattern>/updatefeedbackstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerViewServiceServlet</servlet-name>
        <url-pattern>/manager/viewservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailsUserServlet</servlet-name>
        <url-pattern>/viewdetailsuser</url-pattern>
    </servlet-mapping>
</web-app>
