<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegistryServlet</servlet-name>
        <servlet-class>controller.Manager.RegistryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesListServlet</servlet-name>
        <servlet-class>controller.ServicesListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProvinces</servlet-name>
        <servlet-class>controller.EditProvinces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAddress</servlet-name>
        <servlet-class>controller.ManagerAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <servlet-class>controller.DeleteServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistryServlet</servlet-name>
        <url-pattern>/registryservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesListServlet</servlet-name>
        <url-pattern>/serviceslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProvinces</servlet-name>
        <url-pattern>/editprovinces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAddress</servlet-name>
        <url-pattern>/manageraddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <url-pattern>/deleteservice</url-pattern>
    </servlet-mapping>
</web-app>
