<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegistryServlet</servlet-name>
        <servlet-class>controller.RegistryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesListServlet</servlet-name>
        <servlet-class>controller.ServicesListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProvincesServlet</servlet-name>
        <servlet-class>controller.EditProvincesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAddressServlet</servlet-name>
        <servlet-class>controller.ManagerAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <servlet-class>controller.DeleteServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServiceServlet</servlet-name>
        <servlet-class>controller.EditServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServiceServlet</servlet-name>
        <servlet-class>controller.AddServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProvincesServlet</servlet-name>
        <servlet-class>controller.AddProvincesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProvincesServlet</servlet-name>
        <servlet-class>controller.DeleteProvincesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDistrictServlet</servlet-name>
        <servlet-class>controller.AddDistrictServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDistrictServlet</servlet-name>
        <servlet-class>controller.ManageDistrictServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDistrictsServlet</servlet-name>
        <servlet-class>controller.EditDistrictsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDistrictsServlet</servlet-name>
        <servlet-class>controller.DeleteDistrictsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceServlet</servlet-name>
        <servlet-class>controller.SearchServiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMedicineServlet</servlet-name>
        <servlet-class>controller.AddMedicineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicineListServlet</servlet-name>
        <servlet-class>controller.MedicineListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMedicineServlet</servlet-name>
        <servlet-class>controller.EditMedicineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMedicineServlet</servlet-name>
        <servlet-class>controller.DeleteMedicineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicineDetail</servlet-name>
        <servlet-class>controller.MedicineDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageServicesListServlet</servlet-name>
        <servlet-class>controller.HomepageServicesListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserServlet</servlet-name>
        <servlet-class>controller.ManageUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffServicesServlet</servlet-name>
        <servlet-class>controller.StaffServicesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceDetailServlet</servlet-name>
        <servlet-class>controller.ServiceDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUsersListServlet</servlet-name>
        <servlet-class>controller.AdminUsersListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddRoleServlet</servlet-name>
        <servlet-class>controller.AdminAddRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRemoveRoleServlet</servlet-name>
        <servlet-class>controller.AdminRemoveRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchUserServlet</servlet-name>
        <servlet-class>controller.AdminSearchUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteUserServlet</servlet-name>
        <servlet-class>controller.AdminDeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditUserServlet</servlet-name>
        <servlet-class>controller.AdminEditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LatestMedicineServlet</servlet-name>
        <servlet-class>controller.LatestMedicineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistryServlet</servlet-name>
        <url-pattern>/registryservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesListServlet</servlet-name>
        <url-pattern>/serviceslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProvincesServlet</servlet-name>
        <url-pattern>/editprovinces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAddressServlet</servlet-name>
        <url-pattern>/manageraddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServiceServlet</servlet-name>
        <url-pattern>/deleteservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServiceServlet</servlet-name>
        <url-pattern>/editservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServiceServlet</servlet-name>
        <url-pattern>/addservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProvincesServlet</servlet-name>
        <url-pattern>/addprovinces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProvincesServlet</servlet-name>
        <url-pattern>/deleteprovinces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDistrictServlet</servlet-name>
        <url-pattern>/managedistrict</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDistrictServlet</servlet-name>
        <url-pattern>/adddistrict</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDistrictsServlet</servlet-name>
        <url-pattern>/editdistricts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDistrictsServlet</servlet-name>
        <url-pattern>/deletedistricts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceServlet</servlet-name>
        <url-pattern>/searchservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMedicineServlet</servlet-name>
        <url-pattern>/addmedicine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicineListServlet</servlet-name>
        <url-pattern>/medicinelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicineDetail</servlet-name>
        <url-pattern>/medicinedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMedicineServlet</servlet-name>
        <url-pattern>/medicineupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMedicineServlet</servlet-name>
        <url-pattern>/deletemedicine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageServicesListServlet</servlet-name>
        <url-pattern>/homepageserviceslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUsersListServlet</servlet-name>
        <url-pattern>/admin/adminuserslist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddRoleServlet</servlet-name>
        <url-pattern>/admin/addrole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRemoveRoleServlet</servlet-name>
        <url-pattern>/admin/removerole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchUserServlet</servlet-name>
        <url-pattern>/admin/adminsearchuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteUserServlet</servlet-name>
        <url-pattern>/admin/admindeleteuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditUserServlet</servlet-name>
        <url-pattern>/admin/adminedituser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserServlet</servlet-name>
        <url-pattern>/manageuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffServicesServlet</servlet-name>
        <url-pattern>/staffservices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceDetailServlet</servlet-name>
        <url-pattern>/servicedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LatestMedicineServlet</servlet-name>
        <url-pattern>/latestmedicine</url-pattern>
    </servlet-mapping>
</web-app>
